$containter-w: 780px;
.apps {
  width: $containter-w;
  float: right;
  margin-top: 1em;
}

$icon-w: 70px;
$icon-h: 50px;
$x-n-icons: 3;
$y-n-icons: 2;
$padding: 10px;
$card-w: ($icon-w + $padding) * $x-n-icons;
$card-h: ($icon-h + $padding) * $y-n-icons;

.vm {
  width: $card-w;
  padding: $padding;
  background: $l-grey-blue;
  border: 1px solid $l-grey;
}

.apps {
  button {
    text-indent: -99999px;
    padding: 0; margin: 0;
    height: 25px; width: 25px;
    border: none;
    cursor: pointer;
  }
  [title='play'], .play {
    background: url(/images/play_grey.png) no-repeat 50% 50%;
    &:hover { background: url(/images/play_color.png) no-repeat 50% 50%; }
  }
  [title='stop'], .stop {
    background: url(/images/stop_grey.png) no-repeat 50% 50%;
    &:hover { background: url(/images/stop_color.png) no-repeat 50% 50%; }
  }
  [title='pause'], .pause {
    background: url(/images/pause_grey.png) no-repeat 50% 50%;
    &:hover { background: url(/images/pause_color.png) no-repeat 50% 50%; }
  }
  [title='reload'], .reload {
    background: url(/images/reload_grey.png) no-repeat 50% 50%;
    &:hover { background: url(/images/reload_color.png) no-repeat 50% 50%; }
  }
  [title='export'], .export {
    background: url(/images/export_grey.png) no-repeat 50% 50%;
    &:hover { background: url(/images/export_color.png) no-repeat 50% 50%; }
  }
  [title='reboot'], .reboot {
    background: url(/images/reboot_grey.png) no-repeat 50% 50%;
    &:hover { background: url(/images/reboot_color.png) no-repeat 50% 50%; }
  }
  [title='restart'], .restart {
    background: url(/images/restart_grey.png) no-repeat 50% 50%;
    &:hover { background: url(/images/restart_color.png) no-repeat 50% 50%; }
  }
  [title='fav'], .fav {
    background: url(/images/fav_transparent.png) no-repeat 50% 50%;    
    &:hover { background: url(/images/fav_color.png) no-repeat 50% 50%; }
  }
  .favorited{background: url(/images/fav_color.png) no-repeat 50% 50%;} 
  p.toolbar { 
    @extend .ll-blue-gradient;
    padding: 0.5em 0 0.5em 0.5em;
    border: 1px solid $m-grey;
    position: relative;
  }
  [title='sub-actions'] { 
    @extend .optional-settings;
  }
  [title='indicators'] img, .indicators img { vertical-align: middle; }

  .actions, .resources {
    overflow: hidden;
    li {
      width: 33.33%;
      float: left;
      text-align: center;
    }
  }
  .resources strong{color: #404042; font-size:12px;}

}

.vm-list-heading {
  overflow: hidden;
  padding: 5px;
  background: $l-grey-blue;
  position: relative;
  height: 1.5em;
  margin-bottom: 1em;
  span { position: absolute; }
  .nick { left: 50px; }
  .id { left: 388px; }
  .cpu { left: 510px; }
  .memory { left: 590px; }
  .disk { left: 670px; }
}

.vm, .app { @include border-radius(8px); }

.vm {
  .cycle {
    cursor: pointer; 
  }
  .vmName{font-size: 11px; color:#404042;}
  a.vitalSigns {
    color: #2197c7;
    position: absolute;
    height: 17px; 
    width: 55px;
    font-size: 11px;
    text-decoration: underline;
    bottom: 0; right: 0;}
  .meta {
    overflow: hidden;
    @include background-image(linear-gradient(#515153, #898A8E));
    color: white;
    button { float: left; margin-bottom: 1em;}
    h1 { font-weight: normal; margin: 0.2em 0 0.4em 0;font-size: 13px;}
    h2 { float: left; }
    .ip { display: block; text-align: right; margin-right: 0.5em;}
  }
  p.actions{
    overflow: hidden;
    background: white;
    border-bottom: 1px solid $m-grey;
    border-right: 1px solid $m-grey;
    border-left: 1px solid $m-grey;	
    button {
      width: 14.28%;
      float: left;
      text-align: center;
      margin-top: 3px;
    }
  }
}

.barfy {
  position: relative;
  [title='indicators'], .indicators {
    margin-right: 10em;
    img { height: 25px; }
  }
  .pick-n-place {
    position: absolute;
    top: 0;
    line-height: 3;
  }
  .meta {
    color: black;
    h1, h2 { @extend .pick-n-place; font-weight: normal; }
    h1 { margin: 0  0 0 4em; }
    h2 { margin-left: 30em; }
  }
  .actions, .resources {
    @extend .pick-n-place;
    right: 25px;    
    li {
      width: auto;
    }
  }
  .fav{display:none;}
  .vitalSigns, .vmName{display:none;} 
  .resources li{margin: 0 5px;}
}

.app { 
  @extend .barfy;
  padding: 10px;
  background: $l-grey-blue;
  border: 1px solid $l-grey;
  [title=indicators]{ margin-right: 16em; }
  .meta h1{margin: 0  0 0 4em;}
  .meta h1, .actions { margin-top: 10px; color: #404042;}
  .actions { 
    margin-right: 10px;
    li { padding: 0 0.5em; color: #404042;}
    li:first-child {
      $border: 1px solid $l-grey;
      border-left: $border; border-right: $border;
      & ~ li { border-right: $border; }
    }
  }
}
.app + hr {
  margin: 1em 0;
  color: $m-grey;
}

.vms {
  .toggle { display: none; }
  .normal {
    .toggle {
      display: block;
      background: url(/images/toggle.png) 50% 50% no-repeat;
      position: absolute; right: 0; top: 0;
      &:hover { background: url(/images/toggle_grey.png) 50% 50% no-repeat; }
    }
    [title='sub-actions']{ 
      top: auto;
      right: 5px;
      bottom: -5em;
    }
  }
}

//dynamic
.vms .normal {
  p.toolbar [title='actions'] {display:none;}
  p.actions { 
    button { width: 30px; }
  }
}
.vms .tiny {
  .vm { width: $icon-w; }
  .vitalSigns, .vmName {display:none;} 
  [title$='actions'], .actions, .resources,
  .meta h2, .meta .ip { display: none; }

  .meta { 
    white-space: nowrap; 
    margin: auto;
    height: 26px;
  }
  [title='fav'] { margin-bottom: 0.25em; }
}
.vms .bar {
  width: 100%;
  .vm { 
    width: auto;
    padding: 0;
    border: none;
  }
  .actions, .meta .fav, .toggle,
  .meta .ip, .resources strong { display: none; }
  .resources { margin-top: 0.5em; }
  @extend .barfy;
}

.graph {
  height: 30px; width: 70px;
  margin-top: 0.5em;
  &[title='ping'] { &, +strong {display: none;} }
}


.apps .vm [title=play], .play { background: url(/images/play_color.png) no-repeat 50% 50%; }
.playing .vm, .rebooting .vm, .restarting .vm {
  [title=play], .play { background: url(/images/play_grey.png) no-repeat 50% 50%; }
  [title=stop], .stop { background: url(/images/stop_color.png) no-repeat 50% 50%; }
  [title=pause], .pause { background: url(/images/pause_color.png) no-repeat 50% 50%; }
  [title=reload], .reload { background: url(/images/reload_color.png) no-repeat 50% 50%; }
  [title=reboot], .reboot { background: url(/images/reboot_color.png) no-repeat 50% 50%; }
  [title=restart], .restart { background: url(/images/restart_color.png) no-repeat 50% 50%; }
  [title=export], .export { background: url(/images/export_grey.png) no-repeat 50% 50%; }
  .indicators{background: url(/images/on_sprite.png) no-repeat 0 0px;display:inline-block;padding-left:1em;}
}

.playing.bar .vm, .rebooting.bar .vm, .restarting.bar .vm {
  .indicators{background: url(/images/on_sprite.png) no-repeat 0 100%;display:inline-block;padding-left:1em;}
}

.stopped .vm, .shutting-down .vm, .off .vm {
  [title=play], .play { background: url(/images/play_color.png) no-repeat 50% 50%; }
  [title=stop], .stop { background: url(/images/stop_grey.png) no-repeat 50% 50%; }
  [title=pause], .pause { background: url(/images/pause_grey.png) no-repeat 50% 50%; }
  [title=reload], .reload { background: url(/images/reload_color.png) no-repeat 50% 50%; }
  [title=reboot], .reboot { background: url(/images/reboot_color.png) no-repeat 50% 50%; }
  [title=restart], .restart { background: url(/images/restart_color.png) no-repeat 50% 50%; }
  [title=export], .export { background: url(/images/export_color.png) no-repeat 50% 50%; }
  .indicators{background: url(/images/off_sprite.png) no-repeat 0 0;display:inline-block;padding-left:1em;}
}

.stopped.bar .vm, .shutting-down.bar .vm, .off.bar .vm{
  .indicators{background: url(/images/off_sprite.png) no-repeat 0 100%;display:inline-block;padding-left:1em;}
}

.paused .vm {
  [title=play], .play { background: url(/images/play_color.png) no-repeat 50% 50%; }
  [title=stop], .stop { background: url(/images/stop_color.png) no-repeat 50% 50%; }
  [title=pause], .pause { background: url(/images/pause_grey.png) no-repeat 50% 50%; }
  [title=reload], .reload { background: url(/images/reload_color.png) no-repeat 50% 50%; }
  [title=reboot], .reboot { background: url(/images/reboot_color.png) no-repeat 50% 50%; }
  [title=restart], .restart { background: url(/images/restart_color.png) no-repeat 50% 50%; }
  [title=export], .export { background: url(/images/export_color.png) no-repeat 50% 50%; }
  .indicators{background: url(/images/alert_sprite.png) no-repeat 0 0;display:inline-block;padding-left:1em;}
}

.paused.bar .vm {
  .indicators{background: url(/images/alert_sprite.png) no-repeat 0 100%;display:inline-block;padding-left:1em;}
}

.exporting .vm {
  [title=play], .play { background: url(/images/play_grey.png) no-repeat 50% 50%; }
  [title=stop], .stop { background: url(/images/stop_color.png) no-repeat 50% 50%; }
  [title=pause], .pause { background: url(/images/pause_grey.png) no-repeat 50% 50%; }
  [title=reload], .reload { background: url(/images/reload_grey.png) no-repeat 50% 50%; }
  [title=reboot], .reboot { background: url(/images/reboot_grey.png) no-repeat 50% 50%; }
  [title=restart], .restart { background: url(/images/restart_grey.png) no-repeat 50% 50%; }
  [title=export], .export { background: url(/images/export_color.png) no-repeat 50% 50%; }
  .indicators{background: url(/images/warning_sprite.png) no-repeat 0 0;display:inline-block;padding-left:1em;}
}

.exporting.bar .vm {
  .indicators{background: url(/images/warning_sprite.png) no-repeat 0 100%;display:inline-block;padding-left:1em;}
}

.helpStats{
  background: #000000;
  opacity: 0.8;
  display: inline-block;
  font-size: 13px;
}

.helpStats li img{float: left;}
.helpStats li{list-style: block;clear: both; padding: 10px 0;}
.helpStats span.info{float:left; margin: 0 5px 0 10px;}
.helpStats span.info strong{font-weight:bold;}
