$containter-w: 780px;
.apps {
  width: $containter-w;
  float: right;
  margin-top: 1em;
}

//dimensions for the card view and icon view to setup a grid like layout
$icon-w: 75px;
$icon-h: 85px;
$x-n-icons: 3;
$y-n-icons: 2;
$margin: 10px;
$half-margin: $margin/(2);
$card-w: ($icon-w * $x-n-icons) + ($margin * ($x-n-icons - 1));
$card-h: $margin + $icon-h * $y-n-icons;

.vm {

  //set up normal view dimensions
  width: $card-w;
  height: $card-h;
  margin: $half-margin;
  > * { margin: 4px; }

  float: left;
  background: $l-grey-blue;
  //emulate border
  @include box-shadow($l-grey 0 0 0 1px);

  .cycle { cursor: pointer; }
  .vmName{ font-size: 0.8em; }
  .meta {
    overflow: hidden;
    @extend .dd-grey-gradient;
    color: white;
    button, hgroup { @include inline-block; }
    button { width: 1.5em; }
    .ip { float: right; margin: 1em 0.5em 0 0; }
  }
  p.actions{
    overflow: hidden;
    background: white;
    border-bottom: 1px solid $m-grey;
    border-right: 1px solid $m-grey;
    border-left: 1px solid $m-grey;
    text-align: center;
  }

  .fav {
    background: url(/images/fav_transparent.png) no-repeat 50% 50%;
    &:hover { background: url(/images/fav_color.png) no-repeat 50% 50%; }
    &.favorited{background: url(/images/fav_color.png) no-repeat 50% 50%;} 
  }

}

//configs for sprites
$actions-spacing: 40px;
@import "actions/*.png";
//list of possible vm states
$states: details, launch, pause, reboot, restart, shutdown, start, stop;

.apps {
  button {
    text-indent: -99999px;
    padding: 0; margin: 0.25em;
    height: 1.5em; width: 1.3em;
    border: none;
    cursor: pointer;
    //for button of each state include sprite.
    @each $state in $states {
      &.#{$state} {
        @include actions-sprite(#{$state});
      }
    }
  }

  //button states for vm states.
  .started { 
    .start { @include actions-sprite(start_hover); }
    @each $action in (launch, shutdown, reboot, pause) {
      .#{$action} { @include actions-sprite(#{$action}_active); }
    }
    .indicators {
      background: url(/images/red-bar-sprite.png) no-repeat 2% 0%;
    }
  }
  .launched {
    @each $action in (start, launch) {
      .#{$action} { @include actions-sprite(#{$action}_hover); }
    }
    @each $action in (stop, restart, shutdown, reboot, pause) {
      .#{$action} { @include actions-sprite(#{$action}_active); }
    }
    .indicators {
      background: url(/images/green-bar-sprite.png) no-repeat 2% 0%;
    }
  }
  .shutdown {
    .shutdown { @include actions-sprite(shutdown_hover); }
    .start { @include actions-sprite(start_active); }
    .indicators {
      background: url(/images/grey-bar-sprite.png) no-repeat 2% 0%;
    }
  }
  .paused {
    .pause { @include actions-sprite(pause_active); }
    .start { @include actions-sprite(start_hover); }
    .indicators {
      background: url(/images/yellow-bar-sprite.png) no-repeat 2% 0%;
    }
  }


  p.toolbar { 
    @extend .ll-blue-gradient;
    padding: 0.5em 0 0.5em 0.5em;
    border: 1px solid $m-grey;
    position: relative;
  }

  .sub-actions { @extend .optional-settings; }

  .indicators {
    display: inline-block;
    padding-left: 1em;
    img {
      vertical-align: middle;
      height: 2.7em;
    }
  }

  .actions, .resources {
    overflow: hidden;
    li {
      width: 33.3%;
      float: left;
      text-align: center;
    }
  }

}

.vm, .app { @extend .radius-8; }

//common styles for bar like thing.
.barfy {
  position: relative;
  .indicators {
    margin-right: 10em;
    img { height: 1.95em; }
  }
  .pick-n-place {
    position: absolute;
    top: 0;
    line-height: 3;
  }
  .meta {
    color: black;
    h1, h2 { @extend .pick-n-place; font-weight: normal; }
    h1 { margin: 0  0 0 4em; }
    h2 { margin-left: 30em; }
  }
  .actions, .resources {
    @extend .pick-n-place;
    right: 25px;
  }
  .actions li { width: auto; }
  .resources li{ margin: 0; }
  .fav{ display:none; }
  .vitalSigns, .vmName{ display:none; }
}

.app { 
  @extend .barfy;
  padding: 10px;
  background: $l-grey-blue;
  border: 1px solid $l-grey;
  .indicators{ margin-right: 16em; }
  .meta h1{margin: 0  0 0 4em;}
  .meta h1, .actions { margin-top: 10px; color: $d-grey;}
  [title = 'actions']{
    margin-left: 10em;
    vertical-align: 0.5em;
  }
  @each $state in $states {
    button.#{$state} { @include actions-sprite(#{$state}_active); }
  }
  button.start { @include actions-sprite(start); }
  .actions { 
    margin-right: 10px;
    li {
      padding: 0 0.5em; color: #404042;
      @extend .ll-blue-gradient;
      border: 1px solid $m-grey;
      &:hover {
        background: $d-blue;
        border: 1px solid $n-blue;
        color: white;
      }
    }
  }
}
.app + hr {
  margin: 1em 0;
  color: $m-grey;
}

.vms {
  overflow: hidden;
  .toggle { display: none; }
  .normal {
    .meta { padding: 0.5em 0; }
    .toggle {
      display: block;
      background: url(/images/toggle.png) 50% 50% no-repeat;
      position: absolute; right: 0; top: 0;
      &:hover { background: url(/images/toggle_grey.png) 50% 50% no-repeat; }
    }
    .sub-actions{
      display: none;
      top: auto;
      right: 5px;
      bottom: -5em;
    }
    p.actions button { margin: { left: 4px; right: 4px; } }
  }
}

//dynamic
.vms .normal {
  p.toolbar [title='actions'] {display:none;}
  .resources li { width: 25%; }
  .graph[title='ping'] { &, +span { display: block; } }
}
.vms .tiny {
  .vm { 
    height: $icon-h;
    width: $icon-w;
  }
  .vitalSigns, .vmName {display:none;} 
  [title$='actions'], .actions, .resources,
  .meta h2, .meta .ip, .sub-actions { display: none; }

  .meta { 
    white-space: nowrap; 
    margin: auto;
    height: 26px;
    padding: 0;
  }
  [title='fav'] { margin-bottom: 0.25em; }
}

.vm-list-heading {
  overflow: hidden;
  padding: 5px;
  background: $l-grey-blue;
  position: relative;
  height: 1.5em;
  margin-bottom: 1em;
  span { position: absolute; }
  .nick { left: 50px; }
  .id { left: 388px; }
  .cpu { left: 510px; }
  .memory { left: 590px; }
  .disk { left: 670px; }
}
.vms .bar {
  width: 100%;
  .vm {
    margin: 0;
    width: 100%;
    height: auto;
    > * { margin: 0; }
    > *:before { content: ' '; display: none; }
    > *:after { content: ' '; display: none; }
  }
  .actions, .meta .fav, .toggle,
  .meta .ip, .resources span { display: none; }
  .meta hgroup { display: block; }
  .resources { margin-top: 0.5em; }
  .resources { width: 250px; }
  .indicators { background-position: 2% 100%; }
  @extend .barfy;
}

.graph {
  height: 2em;
  margin: 0.25em 0.5em;
  & + span { font-size: 0.8em; display: block; }
  &[title='ping'] { 
    background: url(/images/vital-signs-icon.png) no-repeat 50% 50%;
    &, +span {display: none;}
  }
}

