$radii: 8, 10, 15, 20;
@each $radius in $radii {
  .radius-#{$radius} { @include border-radius(#{$radius}px); }
}
.ll-blue-gradient {
  @include linear-gradient(color-stops(white, $ll-grey-blue));
}
.l-blue-gradient {
  @include linear-gradient(color-stops(white, $l-grey-blue));
}
.d-grey-gradient {
  @include linear-gradient(color-stops($d-grey, $m-grey));
}
.dd-grey-gradient {
  @include linear-gradient(color-stops($dd-grey, $d-grey));
}

.optional-settings {
  > * { display: none; }
  background: url(/images/gear_grey.png) no-repeat 50% 50%;
  &:hover { background: url(/images/gear_color.png) no-repeat 50% 50%; }
  height: 25px; width: 25px;
  position: absolute; top: 0; right: 0;
}

.bluish-item {
  @include linear-gradient(color-stops($m-blue, $d-blue));
  height: 80%; 
  outline: 2px solid #25aae2;
}
