$navy: #264186;
$blue: #5f91a8;
$m-blue: #25aae2;
$d-blue: #0a76be;
$n-blue: #0061a5;
$yellow: #ffca08;
$grey: #efefef;
$l-grey: #cad1d5;
$ll-grey-blue: #ededed;
$l-grey-blue: #DCE0E4;
$grey-blue: #dbe0e4;
$d-grey-blue: #acb1b5;
$m-grey: #9D9FA2;
$d-grey: #77787c;
$dd-grey: #58585a;
$green: #bfd62e;
