@import 'compass/reset', 'compass/css3', 'colors', 'general', 'classes', 'layout';

.widget {
  $l-grey-border: 1px solid $l-grey;
  $d-grey-blue-border: 1px solid $d-grey-blue;
  background: $grey-blue;
  @include border-radius(8px);
  border: $l-grey-border;

  $w1: 56.4%; $w2: 39%; $w3: 27.2%;
  $m: 15px;

  width: $w3;
  float: left;
  margin: $m/(2);

  &.announcements { width: $w1; }
  &.my-account, &.orders, &.open-support-tickets, &.network-status {
    width: $w2;
    float: right;
  }
  &.my-solutions, &.services {
    > .body { line-height: 2em; }
    li, li:nth-child(even) { //override specificity
      @extend .ll-blue-gradient;
    }
    li:first-child ~ li { border-top: $d-grey-blue-border; }
  }
  &.services { 
    clear: left;
    > .body {
      text-transform: uppercase;
      img { 
        vertical-align: middle;
        margin: 0 1em;
      }
    }
  }
  &.my-solutions {
    $good: url(/images/green-bar-sprite.png) no-repeat 2% 110%;
    $bad: url(/images/yellow-bar-sprite.png) no-repeat 2% 110%;
    $ugly: url(/images/red-bar-sprite.png) no-repeat 2% 110%;
    li {
      padding-left: 2em;
      &.good { background: $good; }
      &.bad { background: $bad; }
      &.ugly { background: $ugly; }
    }
  }
  &.my-account {
    table, button { width: 49%; float: left; clear: left; }
    table:first-child { float: right; }
    table[title='due']{
      th {
        font-weight: inherit;
        font-size: inherit;
        background: inherit;
        color: inherit;
        text-transform: inherit;
      }
    }
    button {
      margin: 0;
      padding: 0.45em;
      font-size: 1.5em;
      border: $d-grey-blue-border;
      border-top: none;
      @extend .ll-blue-gradient;
    }
  }
  &.usage .body { height: 100px; }

  &.announcements h1 { background: url(/images/dashboard/announcements.png) no-repeat; }
  &.my-account h1 { background: url(/images/dashboard/my_account.png) no-repeat; }
  &.my-solutions h1 { background: url(/images/dashboard/my_solutions.png) no-repeat; }
  &.maintenance h1 { background: url(/images/dashboard/maintenance.png) no-repeat; }
  &.open-support-tickets h1 { background: url(/images/dashboard/open_support_tickets.png) no-repeat; }
  &.services h1 { background: url(/images/dashboard/services.png) no-repeat; }
  &.usage h1 { background: url(/images/dashboard/my_usage.png) no-repeat; }
  &.orders h1 { background: url(/images/dashboard/orders.png) no-repeat; }
  &.contact-ntt h1 { background: url(/images/dashboard/contact_ntt.png) no-repeat; }
  &.network-status h1 { background: url(/images/dashboard/network_status.png) no-repeat; }


  a { 
    color: $m-blue;
    text-decoration: underline;
  }

  ul, ol, table {
    background: white;
  }
  table { width: 100%; }
  tr:first-child th {
    background: $m-blue;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1;
    padding: {top: 0.3em; bottom: 0.3em;}
    text-transform: uppercase;
    color: white;
  }
  tr:nth-child(even), li:nth-child(even) {
    background: $ll-grey-blue;
  }
  li, th, td { padding: 0.5em; }
  >header, >.body { padding: 0.5em; }
  >header {
    border-bottom: $l-grey-border;
    position: relative; //for .optional-settings;
    >h1 {
      color: $n-blue;
      font-size: 1.2em;
      padding-left: 20px;
    }
    >.actions {
      @extend .optional-settings;
    }
  }
  > .body {
    > * { 
      border: 1px solid $d-grey-blue;
    }
    font-size: 0.8em;
    overflow: hidden;
    line-height: 1.33;
  }
}
