body { font-family: 'Ubuntu', sans-serif; font-size: 13px; }
a { text-decoration: none; }
strong { font-weight: bold; }
a:focus {outline: none;}
button::-moz-focus-inner { border: 0; }
button {
  font-family: inherit;
  font-size: inherit;
  font-weigth: inherit;
}
