.top {
  width: 1000px;
  margin: auto;
  overflow: hidden;
}
section.top{
  > header {
    position: relative;
    > h1 {
      position: absolute;
      font-size: 1.5em;
      color: silver;
      top: 2em;
      > pre {float:left;}
      > pre.highlight {color: #556d79;margin-left: 3px;}
    }    
  }
}

header.top { 
  background: url(/images/header.jpg) 100% 0 no-repeat;
  h1 { 
    position: absolute;
    background: url(/images/logo.png) 0 30% no-repeat;
    margin-left: 30px;
    text-indent: -9999px;
    height: 70px; width: 300px;
  }
}
footer.top { 
  margin-top: 40px;
  height: 60px;
  background: url(/images/footer.png);
  color: white;
  text-align: right;
  padding: 30px 10px;
}

p.meta { 
  text-align: right;
  margin-top: 15px;
  position: relative;
  color: $grey;
  a {
    color: inherit;
    @include inline-block;
    margin: 0 0.5em;
    vertical-align: baseline; //mixin seems to set this to middle
  }
  .search-box { 
    position: absolute;
    bottom: -5em;
    right: 1em;
    border: 1px solid $blue;
    @extend .radius-10;
    padding: 0.5em 1em;
    color: $l-grey;
    font-size: 0.8em;
  }
}

ul.main {
  border-bottom: 4px solid $yellow;
  margin-top: 30px;
  li { 
    @include inline-block;
    @include border-radius(6px 6px 0 0);
    background: $navy;
    a {
      display: block;
      padding: 0.7em 1em;
      color: white; }
    &:hover{
      background-color: #5A87DD;
      -webkit-transition: background-color 0.5s linear;
      -moz-transition: background-color 0.2s linear;
      -o-transition: background-color 0.2s linear; 
    }
    &.selected { background: $yellow; color: black; }
  }
}


$services-spacing: 20px;
@import "services/*.png";
$navs: cloud_computing, dedicated_servers, managed_security, data_backup, load_balancers, dns;

ul.sub { 
  overflow: hidden;
  @include linear-gradient(color-stops(#efefef, #eeeeee));
  border-bottom: 3px solid white;
  li { 
    float: left;
    text-transform: uppercase;
    background: $m-grey;
    border:1px solid #8b8c90;
    line-height: 3.5;
    padding: 0 0.5em;
    @each $nav in $navs {
      &.#{$nav} a { @include services-sprite(#{$nav}_active); }
      &.#{$nav}{ &:hover, &.selected { a { @include services-sprite(#{$nav}); } } }
    }
    &:first-child ~ li { 
      a { max-width: 6em; padding-left: 3em; padding: {top: 0.6em; bottom: 0.6em; }; }
      &.settings { float: right; padding-left: 0.5em; a { padding-left: 0; } }
    }
    > * { vertical-align: middle; line-height: 1; }
    a { 
      color: $grey-blue;
      text-align: left;
      @include inline-block;
      max-width: 8em;
    }
  }
  li.selected, li:hover {
    @extend .ll-blue-gradient;
    border: none;
    * { color: black; }
  }
}

nav.ui { 
  width: 200px;
  float: left;
  line-height: 2;
  ul { border-bottom: 0.2em solid $dd-grey; padding: 2em 0; };
  .vm-links, .vm-actions {
    a { color: $d-grey; padding-left: 6px; }
  }
  li { padding-left: 2em;}
  [class^='vm'] li a:hover {
    padding: 2px 5px;
    border: 1px solid silver;
    @extend .radius-8;
    @include linear-gradient(color-stops($grey, white));
  }
  a.selected{
    padding: 2px 5px;
    border: 1px solid silver;
    @extend .radius-8;
    @include linear-gradient(color-stops($grey, white));
  }
  ul.edit{border-bottom: none;}
  ul.edit li{
    background: url('/images/gear_large.png') 5% 50% no-repeat;
    background-size: 2em;
    padding-left: 50px;
    color: #6D6E72;
  }
  a { color: $m-grey; }
}

nav.crumb {
  background: $d-grey;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 2;
  height: 35px;
  padding-top: 7px;
  h1, ul, li, header { display: inline; }
  header, li { padding: 0.5em 20px; }
  header {
    background: url(/images/white-crumb.png) 100% 50% no-repeat;
    > * { 
      @include inline-block;
      vertical-align: top;
    }

    h1 {
      color: black;
      background: url(/images/cloud_color.png) 0% 50% no-repeat;
      padding-left: 3em;
    }
    a {
      text-indent: -9999px;
      width: 2em;
      background: url(/images/help_grey.png) 50% no-repeat;
      &:hover { background: url(/images/help.png) 50% no-repeat; }
    }
  }
  li:hover, li.selected {
    @extend .bluish-item;
  }
}

nav.ui .app-links {
  background: $d-grey;
  padding: 0;
  li {
    padding: 0;
    a{
      color: $grey-blue;
      display: block;
      padding: 0.5em 0 0.5em 3em;
    }
    &:hover, &.selected {
      @extend .bluish-item;
      a { color: white; }
    }    
  }
  li.allVapps a{background: url('/images/all_vapps.png') 5% 50% no-repeat;}
  li.webApp a {background: url('/images/app.png') 5% 50% no-repeat;}
  li.deployment a{background: url('/images/app_grey.png') 5% 50% no-repeat;}
  li.newVapp a{background: none;}
}

a[title='add vApp'] {
  display: block;
  text-align: right;
  font-size: 0.8em;
  color: $m-blue !important;
}

.helpStats{
  background: #000000;
  opacity: 0.8;
  display: inline-block;
  font-size: 13px;
  li {
    list-style: block;clear: both; padding: 10px 0;
    img{float: left;}
  }
  span.info{
    float:left; margin: 0 5px 0 10px;
    strong{font-weight:bold;}
  }
}
