@import 'compass/reset', 'compass/css3', 'colors', 'general', 'classes', 'layout';
@import 'isotope', 'jquery-ui', 'apps-test';


#one, #two, #three, #four { padding: 5px; }

#one {
  outline: 1px solid red;
  .foo { background: tan; }
}
#two { outline: 1px solid blue; }
#three { outline: 1px solid green; }
#four { 
  outline: 1px solid magenta;
  @extend #one .foo;
}
