@import 'compass/reset', 'compass/css3', 'colors', 'general', 'classes', 'layout';

@import 'isotope';
@import 'jquery-ui';
@import 'tipTip';
@import 'apps';

//dialog
.ui-widget-overlay {
  background: black; //removes transparent png
  opacity: .65;
}
.ui-dialog, .ui-dialog-content.ui-widget-content, .ui-tabs .ui-tabs-panel,
.ui-tabs .ui-tabs-nav { padding: 0; border: none; }
.ui-dialog.vital-stats {
  a { color: white; }
  &, .ui-dialog-titlebar, .ui-dialog-content,
  .ui-tabs-nav, .ui-tabs-nav li {
    @include border-radius(0 0 0 0);
  }
  .ui-dialog-titlebar-close, .ui-icon-closethick {
    width: 5ex; height: auto;
    text-indent: 0px;
    color: black;
    background: none;
  }
  .ui-tabs-nav{
    background: $m-grey;
    li {
      background: none;
      border: none;
      top: 0; bottom: 0; margin: 0;
      a { 
        background: url(/images/vs-good.png) 50% 10% no-repeat;
        display: block;
        padding: 3em 0 0.5em;
        text-align: center;
        font-size: 0.8em;
        width: 99px;
        &.red { background-image: url(/images/vs-down.png); }
        &.yellow { background-image: url(/images/vs-suspended.png); }
      }
      &:first-child ~ li a { border-left: 1px solid $d-grey; }
      &.ui-tabs-selected {
        padding: 0;
        border: { top: none; right: none; bottom: none; }
        a { color: black; }
        @extend .l-blue-gradient;
      }
      &.ui-state-hover {
        a { color: black; }
        @extend .ll-blue-gradient;
      }
    }
  }
  .ui-dialog-titlebar {
    background: #eee;
    border: none;
    padding: 1em;
    font-weight: normal;
    em { margin: 0 2em; }
  }
}
.graph svg { width: 100%; height: 100%; }
#cpu, #disk, #memory { svg { width: 100%; height: 100%; } }
