%span.helpStats
  %ul
    %li
      %span
        %img{:src => "images/cpu_usage.png"}/
      %span.info
        %strong> CPU:
        (10.00%)
        %br>/
        20.00 GHz, Used: 2.00 Ghz
        %br/
    %li
      %span
        %img{:src => "images/memory_usage.png"}/
      %span.info
        %strong> Memory:
        (21.30%)
        %br
          10.00 GB, Used: 2.13 GB
          %br/
    %li
      %span
        %img{:src => "images/storage_usage.png"}/
      %span.info
        %strong CPU:
        (10.00%)
        %br>/
        800 GB, Used: 661.00 GB
        %br/
