- @style = 'dashboard'
%section#dashboard.top
  %article.widget.announcements
    %header
      %h1 Announcements
      %ul.actions
        %li
          %span one
        %li
          %span two
        %li
          %span three
    .body
      %ul
        %li
          NTT America is proud to announce its new
          %bold Hybrid Cloud Solution.
          %a{:href => ""} Click here
          for more information.
  %article.widget.my-account
    %header
      %h1 My Account
      %ul.actions
        %li
          %span one
        %li
          %span two
        %li
          %span three
    .body
      %table{:title => 'billing details'}
        %tr
          %th{:colspan => 2} Billing Details
        - {'Account Number' => 4600234, 'Last Statement' => '08-03-11', 'Last Payment' => '07-15-11'}.each do |k,v|
          %tr
            %th= k
            %td
              %strong
                %a{:href =>""}= v
      %table{:title => 'due'}
        %tr
          %th Balance Due
          %td
            %strong
              %a{:href => ""} $1,234.00
        %tr
          %th Date Due
          %td 09-01-11
      %button Pay My Bill
  %article.widget.my-solutions
    %header
      %h1 My Solutions
      %ul.actions
        %li
          %span one
        %li
          %span two
        %li
          %span three
    .body
      %ul
        - ['Cloud Solutions', 'Managed Hosting Solution', 'Colocation Solution', 'My Production Servers'].each do |i|
          %li{:class => "#{%w[good bad ugly][rand 3]}"}= i
  %article.widget.maintenance
    %header
      %h1 Maintenance
      %ul.actions
        %li
          %span one
        %li
          %span two
        %li
          %span three
    .body
      %ol
        %li
          %h2 CR31624 Severe Weather in Ashburn, VA
          %time{:date => 'some valid date'}
            August 4, 5pm ET
        %li
          %h2 CR31610 Portal Database Maintenance
          %time{:date => 'some valid date'}
            August 5, 9pm 
  %article.widget.open-support-tickets
    %header
      %h1 Open Support Tickets
      %ul.actions
        %li
          %span one
        %li
          %span two
        %li
          %span three
    .body
      %table
        %tr
          %th Ticket Number
          %th Summary
          %th Urgency
          %th Last Updated
        - ['Server Down', 'Reboot Requested', 'Billing Invoice Question'].each do |i|
          %tr
            %td
              %a{:href => ""}1-123456789
            %td= i
            %td
              %img{:src => "/images/urgency.png"}
            %td xx time ago
  %article.widget.usage
    %header
      %h1 Usage
      %ul.actions
        %li
          %span one
        %li
          %span two
        %li
          %span three
    .body
  %article.widget.services
    %header
      %h1 Services
      %ul.actions
        %li
          %span one
        %li
          %span two
        %li
          %span three
    .body
      %ul
        - services = nav[:services].dup
        - services.delete :'all services'
        - services.each do |k, v|
          %li
            %img{:src => "/images/services/#{classfy k}.png"}
            = k
  %article.widget.orders
    %header
      %h1 Orders
      %ul.actions
        %li
          %span one
        %li
          %span two
        %li
          %span three
    .body
      %table
        %tr
          %th Order ID
          %th Order Date
          %th Order Status
        - 4.times do
          %tr
            %td
              %strong
                %a{:href => ""} 5212345678
            %td 00-00-00
            %td Some thing happened to the order
  %article.widget.contact-ntt
    %header
      %h1 Contact Ntt
      %ul.actions
        %li
          %span one
        %li
          %span two
        %li
          %span three
    .body
      %ul
        - contacts.each do |k, v|
          %li
            %h2= k
            %h3= v[:name]
            %p
              %strong
                %a{:href => ""}= v[:email]
              %span{:title => 'phone'}= v[:phone]
  %article.widget.network-status
    %header
      %h1 Network Status
      %ul.actions
        %li
          %span one
        %li
          %span two
        %li
          %span three
    .body
      %img{:src => '/images/map.png'}
