!!!5
%html
  %head
    %meta{:charset => 'UTF-8'}
    /[if lt IE 9]
      %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js'}
    %link{rel: :stylesheet, type: 'text/css', href: "/#{@style}.css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Ubuntu", :rel => "stylesheet", :type => "text/css"}
    %title
      CCA
    %style{:type => 'text/css'}
  %body
    %header.top
      %h1 NTT communications | NTT America
      %nav
        %p.meta
          - pipe = nil
          - ["Eric's Profile", 'Manage Contacts', 'Help', 'Logout'].each do |i|
            = pipe
            %a{:class => "#{i} tipBottom", :href => "", :title => i}= i
            - pipe = '|'
          %input.search-box{:type => :text, :value => 'Search'}
        %ul.main
          - nav.each do |k, v|
          - cls = classfy k
          - title = titlefy k
          - href = "/#{slugfy(k)}"
          - current = classfy current
            %li{:class => class_string(cls, current)}
              %a{:href => href+'.html'}= title
        %ul.sub
          - sub_nav.each do |k, v|
          - k = k.to_s
          - cls = classfy k
          - current = classfy sub
            %li{:class => class_string(cls, current)}
              %a{:href => ""}= k
          %li.settings
            %a{:href => ''}
              %img{:src => '/images/gear.png'}

    = yield
    %footer.top
      © 2011 NTT America, Inc, All Rights Reserved
    %script{:src => '/js/jquery.js'}
    %script{:src => '/js/underscore.js'}
    %script{:src => '/js/jquery-ui.js'}
    %script{:src => '/js/isotope.js'}
    %script{:src => '/js/highcharts.js'}
    %script{:src => '/js/tipTip.js'}
    %script{:src => '/js/data.js'}
    %script{:src => '/js/script.js'}
