- @style = 'test'
%section#vm-room.top
  %header
    %nav.crumb
      %header
        %h1 US Cloud
        %a#helpIcon.help.tipRightHTML{:title => "foo"}
          help
      %ul
        %li
          All Rooms
        %li
          Room:Protected
        %li
          Room:DMZ
        %li.selected
          Room:Public
  %nav.ui
    %ul.app-links
      %li.allVapps
        %a{:href => ""} All Apps
      %li.selected.webApp
        %a.webApp{:href => ""} Web App
      %li.deployment
        %a.deployment{:href => ""} Deployment
      %li.newVapp
        %a.newVapp{:href => ""} Add a vApp
    %ul.vm-links
      %li
        %a.cards{:href => ""} View as Cards
      %li
        %a.lists{:href => ""} View as Lists
      %li
        %a.icons.selected{:href => ""} View as Icons
    %ul.vm-actions
      %li
        %a.selected{:href => ""} All
      %li
        %a{:href => ""} Good
      %li
        %a{:href => ""} Bad
      %li
        %a{:href => ""} Marginal
      %li
        %a{:href => ""} Off
      %li
        %a{:href => ""} Windows
      %li
        %a{:href => ""} Red Hat
      %li
        %a{:href => ""} Linux
      %li
        %a{:href => ""} Ubuntu
      %li
        %a{:href => ""} CentOS
    %ul.edit.inline
      %li.sorts
        Edit Sorts
  %ul.apps
    %li
      %section.app
        %header
          %p.toolbar
            %span{:title => "indicators"}
              %img{:src => "/images/on_small.png"}
                %img{:src => "/images/app.png"}
            %span{:title => "actions"}
              %button.tipBottom.play{:title => "play"} play
              %button.tipBottom.stop{:title => "stop"} stop
              %button.tipBottom.pause{:title => "pause"} pause
              %button.tipBottom.reload{:title => "reload"} reload
              %button.tipBottom.export{:title => "export"} export
            %span{:title => "sub-actions"}
              %button{:title => "details"} details
              %button{:title => "monitoring"} monitoring
              %button{:title => "delete"} delete
          .meta
            %h1 Web App
        %ul.actions
          %li ADD A NEW VM
          %li MOVE TO TEMPLATE
          %li DEPLOY
      %hr
        %ul.vms
          %li.Roadrunner.centos.playing.normal{:title => "Roadrunner"}
            %section.vm
              %header
                %p.toolbar
                  %span.tipRight.indicators{:title => "centos"}
                    %img.cycle{:src => "/images/centos.png"}
                  %span.vmName Centos 4.8, 32-bit
                  %span{:title => "actions"}
                    %button.play.tipTop{:title => "play"} play
                    %button.stop.tipTop{:title => "stop"} stop
                    %button.pause.tipTop{:title => "pause"} pause
                    %button.reload.tipTop{:title => "reload"} reload
                    %button.export.tipTop{:title => "export"} export
                  %span{:title => "sub-actions"}
                    %button{:title => "details"} details
                    %button{:title => "monitoring"} monitoring
                    %button{:title => "delete"} delete
                  %button.toggle
                    toggle
                  %a.vitalSigns{:href => ""} Vital signs
                .meta
                  %button.fav.tipLeft{:title => "Mark as favorite"}
                  %hgroup
                    %h1 Roadrunner
                    %h2 evl3082583
                  %span.ip 70.111.152.102
                %p.actions
                  %button.play.tipTop{:title => "play"} play
                  %button.stop.tipTop{:title => "stop"} stop
                  %button.pause.tipTop{:title => "pause"} pause
                  %button.reload.tipTop{:title => "reload"} reload
                  %button.reboot.tipTop{:title => "reboot"} reboot
                  %button.restart.tipTop{:title => "restart"} restart
                  %button.export.tipTop{:title => "export"} export
              %ul.resources
                %li.tipBottom{:title => "Cpu: Click to see more details"}
                  .graph{:title => "cpu"}
                  %strong CPU
                %li.tipBottom{:title => "Memory: Click to see more details"}
                  .graph{:title => "memory"}
                  %strong MEMORY
                %li.tipBottom{:title => "Disk: Click to see more details"}
                  .graph{:title => "disk"}
                  %strong DISK
                %li.tipBottom{:title => "Ping: Click to see more details"}
                  .graph{:title => "ping"}
                  %strong PING
          %li.Woodpecker.windows.exporting.tiny{:title => "Woodpecker"}
            %section.vm
              %header
                %p.toolbar#test
                  %span.tipRight.indicators{:title => "windows"}
                    %img.cycle{:src => "/images/windows.png"}
                  %span.vmName Windows 7, 32-bit
                  %span{:title => "actions"}
                    %button.play.tipTop{:title => "play"} play
                    %button.stop.tipTop{:title => "stop"} stop
                    %button.pause.tipTop{:title => "pause"} pause
                    %button.reload.tipTop{:title => "reload"} reload
                    %button.export.tipTop{:title => "export"} export
                  %span{:title => "sub-actions"}
                    %button{:title => "details"} details
                    %button{:title => "monitoring"} monitoring
                    %button{:title => "delete"} delete
                  %button.toggle
                    toggle
                  %a.vitalSigns{:href => ""} Vital signs
                .meta
                  %button.fav.tipLeft{:title => "Mark as favorite"}
                  %hgroup
                    %h1 Woodpecker
                    %h2 evl9079600
                  %span.ip 43.103.133.89
                %p.actions
                  %button.play.tipTop{:title => "play"} play
                  %button.stop.tipTop{:title => "stop"} stop
                  %button.pause.tipTop{:title => "pause"} pause
                  %button.reload.tipTop{:title => "reload"} reload
                  %button.reboot.tipTop{:title => "reboot"} reboot
                  %button.restart.tipTop{:title => "restart"} restart
                  %button.export.tipTop{:title => "export"} export
              %ul.resources
                %li.tipBottom{:title => "Cpu: Click to see more details"}
                  .graph{:title => "cpu"}
                  %strong CPU
                %li.tipBottom{:title => "Memory: Click to see more details"}
                  .graph{:title => "memory"}
                  %strong MEMORY
                %li.tipBottom{:title => "Disk: Click to see more details"}
                  .graph{:title => "disk"}
                  %strong DISK
                %li.tipBottom{:title => "Ping: Click to see more details"}
                  .graph{:title => "ping"}
                  %strong PING


#one
  #two.foo
#three
  #four.bar
