- @style = 'vm-room'
%section.top#vm-room
  %header
    %nav.crumb
      %header
        %h1 US Cloud
        %a.help.tipRightHTML#helpIcon{:title => haml(:_resource_stats)}
          help
      %ul
        - {'All Rooms' => '', 'Room:Protected' => '', 'Room:DMZ' => '', 'Room:Public' => 'selected'}.each do |k,v|
          %li{:class =>  v}
            =k
  %nav.ui
    %ul.app-links
      %li.allVapps
        %a{:href => "", :class => ''} All Apps
      %li.selected.webApp
        %a{:href => "" , :class => 'webApp'} Web App
      %li.deployment
        %a{:href => "", :class => 'deployment'} Deployment
      %li.newVapp
        %a{:href => "", :class => 'newVapp'} Add a vApp
    %ul.vm-links
      %li
        %a.cards{:href=>""} View as Cards
      %li
        %a.lists{:href=>""} View as Lists
      %li
        %a.icons{:href=>"", :class => 'selected'} View as Icons
    %ul.vm-actions
      %li
        %a{:href => "", :class => 'selected'} All
      %li
        %a{:href => ""} Good
      %li
        %a{:href => ""} Bad
      %li
        %a{:href => ""} Marginal
      %li
        %a{:href => ""} Off
      %li
        %a{:href => ""} Windows
      %li
        %a{:href => ""} Red Hat
      %li
        %a{:href => ""} Linux
      %li
        %a{:href => ""} Ubuntu
      %li
        %a{:href => ""} CentOS
    %ul.edit.inline
      %li.sorts
        Edit Sorts
  %ul.apps
    %li
      %section.app
        %header
          %p.toolbar
            %span{:title => 'indicators'}
              %img{:src => '/images/on_small.png'}
              %img{:src => '/images/app.png'}
            %span{:title => 'actions'}
              - ['start', 'stop', 'pause', 'restart', 'launch'].each do |i|
                %button{:title => i, :class => "tipBottom #{i}"}= i
            %span.sub-actions
              - ['details', 'monitoring', 'delete'].each do |i|
                %button{:title => i}= i
          .meta
            %h1 Web App
        %ul.actions
          - ['Add a new VM', 'Move to template', 'Deploy'].each do |i|
            %li{:title => i.downcase}= i.upcase
      %hr
      %ul.vms
        - 20.times do
          - c_vm = vm[]
          - actions = c_vm[:actions]
          %li{:class => "#{c_vm[:name]} #{c_vm[:type]} #{c_vm[:state]} tiny", :title => c_vm[:name]}
            %section.vm
              %header
                %p.toolbar
                  %span{:title => c_vm[:type], :class => 'indicators'}
                    %img{:src => "/images/#{c_vm[:type]}.png", :class => 'tipRight cycle'}
                  %span{:class => 'vmName'}= "#{c_vm[:type].capitalize} #{os_version(c_vm[:type])}, #{random_bits}"
                  %span{:title => 'actions'}
                    - actions.each do |i|
                      %button{:title => i, :class => "#{i} tipTop"}= i
                  %button.toggle
                    toggle
                .meta
                  %button{:title=>'Mark as favorite', :class => 'fav tipLeft'}
                  %hgroup
                    %h1= c_vm[:name]
                    %h2= c_vm[:user]
                  %span.ip= c_vm[:ip]
                %p.actions
                  - c_vm[:actions].each do |i|
                    %button{:title => i, :class => "#{i} tipTop"}= i
              %ul.resources
                - {'cpu' => 'CPU', 'memory' => 'Memory', 'disk' => 'Disk', 'ping' => 'Vital Stats'}.each do |k, v|
                  %li{:title => "#{k.capitalize}: Click to see more details", :class => 'tipBottom'}
                    %div.graph{:title => k}
                    %span= v
